<section class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>About Us</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, natus? Facilis possimus, vero asperiores quia cupiditate nihil? Quisquam a aliquid cumque! Voluptates aliquid officiis dolores nihil hic recusandae ab explicabo? </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, natus? Facilis possimus, vero asperiores quia cupiditate nihil? Quisquam a aliquid cumque! Voluptates aliquid officiis dolores nihil hic recusandae ab explicabo? </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, natus? Facilis possimus, vero asperiores quia cupiditate nihil? Quisquam a aliquid cumque! Voluptates aliquid officiis dolores nihil hic recusandae ab explicabo? </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, natus? Facilis possimus, vero asperiores quia cupiditate nihil? Quisquam a aliquid cumque! Voluptates aliquid officiis dolores nihil hic recusandae ab explicabo? </p>  
        </div>
        <div class="follow">
            <h4>Follow Us</h4>
            <a href="">facebood</a>
            <a href="">Instagram</a>
            <a href="">YouTube</a>
            <a href="">Twiter</a>
        </div>
    </div>
</section>